* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}
.card {
    width: 430px;
    height: auto;
    background: #efefef;
    padding: 80px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
/* .card img {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    border-radius: 50%;
} */
.card div h1 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
    display: list-item;
    margin-left: 50px;
}
.card div h1 span {
    font-size: 14px;
    color: #000;
    letter-spacing: 4px;
}
.card div h3 span{
font-size: 14px;
color: #000;
letter-spacing: 4px;

}
.card div ul {
    list-style: none;
}
.card div ul li {
    display: inline-block;
    margin: 20px 10px;
}
.card div ul li a {
    color: #2980b9;
    font-size: 20px;
    transition: 0.2s;
}
.card div ul li a:hover {
    color: #000;
}
/* this is for contact button */
.card div .btn {
    text-decoration: none;
    color: #000;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 2px;
    padding: 10px;
    margin-top: 15px;
    display: inline-block;
    transition: 0.2s;
    border: 1px solid #000;
}

.card div .btn:hover {
    border-color: #2980b9;
}
.card::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    background: #f6e58d;
    bottom: 0;
    right: -10px;
    z-index: -1;
    border-top-left-radius: 100px;
    transition: 0.5s;
}
/* this use for animation  */
.card:hover::before {
    transform: scale(15);
}

.profile-pic-div {
    height: 120px;
    width: 120px;
    position: absolute;
    display: block;
    margin: auto;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

.profile-pic {
height: 100px;
width: 100px;
position: absolute;
display: block;
margin: auto;
/* border-radius: 50%; */
transform: translate(-50%, -50%);
border-radius: 50%;
overflow: hidden;
border: 1px solid grey;



}

#uploadBtn {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}

#file {
    display: none;
}


#photo {
    height: 100%;
    width: 100%;
}

label a:link{
color : #000;
background-color : transparent;
text-decoration : none;
}

