<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
    <!-- connect css -->
    <link rel="stylesheet" href="./css/login.css" type="text/css" />
  </head>
  <body>
    <section>
      <h1 style="color: #fff">Startup And Investment</h1>
      <div class="box">
        <div class="form">
          <h2>Login</h2>
          <form action="login" method="POST">
            <!-- username And Password  -->
            <div class="inputBx">
              <input type="text" name="email" placeholder="Username" required />
              <img src="./image/user.png" />
            </div>

            <div class="inputBx">
              <input type="password" name="password" placeholder="Password" required />
              <img src="./image/lock.png" />
            </div>
            <!-- checkbox for remember -->
            <label class="remeber">
              <input type="checkbox" />Remember me
            </label>
            <!-- for submit button -->
            <div class="inputBx">
              <input type="submit" value="Login" />
            </div>
          </form>
          <br />
          <!-- forgot & need an account -->
          <p>Forget <a href="#">Password</a></p>
          <p>Need an <a href="Registration">Account</a></p>
        </div>
      </div>
    </section>
  </body>
</html>