<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <!-- this is copy from "https://cdnjs.com/libraries/font-awesome" -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./css/profile.css" />
  </head>
  <body>
    <div class="card">
      <div>

        <div class="profile-pic-div">

          <img src="./image/image.jpg" id="photo" />
          <input type="file" id="file" />
          <label for="file" id="uploadBtn">Choose Photo</label>
        </div>
        <script src="./js/profile.js"></script>
        <h1>
          Alex
          <br />
          <span> Startup Company / Investor</span>
        </h1>
        <!-- input text  -->
<div class="inputBx"> 
        <h3>
          <input type="text" placeholder="EmailAddress"><br /></input>
          <input type="text" placeholder="State"><br /></input>
          <input type="text" placeholder="City"><br /></input>
          <input type="text" placeholder="Zip"><br /></input>
        </h3>
      </div>
      <br>
    
        <ul class="inputBox">
          
          <input type="text" placeholder="Company Details"><br /></input>
          
        </ul>
        <!-- button -->
        <a class="btn" href="">Contact</a>
        <a class="btn" href="">Verification</a>
      </div>
      <br>
      <label class="sign out"><a href="#" style="color: black;"> Sign Out</a></label>
    </div>
  </body>
</html>